#sidebar {
 padding: 20px;
 background: #f2f2f2;
}

#content {
    padding-left: 40px;
}

.date {
    color: coral;
}

.comment {
    background: lavender;
    padding: 20px;
    margin-bottom: 10px;
}

.info{
    color:mediumorchid;
}
